<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29464535100-4uka1bruqffkdihp9uqsmruur3q3nf1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29464535100-4uka1bruqffkdihp9uqsmruur3q3nf1o</string>
	<key>API_KEY</key>
	<string>AIzaSyDTrmEpqrbW0hq7W_QA5flSrjcpze7XSnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>29464535100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartFeeder</string>
	<key>PROJECT_ID</key>
	<string>iot-feeder-f8e4f</string>
	<key>STORAGE_BUCKET</key>
	<string>iot-feeder-f8e4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29464535100:ios:d637abd4a615e25340e339</string>
	<key>DATABASE_URL</key>
	<string>https://iot-feeder-f8e4f-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>